.paginationCustom span {
  display: inline-block;
  padding: 2px 7px;
  background: lightgray;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.paginationCustom span.active {
  color: #fff;
  background: #173559;
}

.paginationCustom span.disable {
  opacity: 0.5;
  pointer-events: none;
}
